<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>
    {% if page.title == "Home" %} {{ site.title }}{% if site.tagline %} &middot;
    {{ site.tagline }}{% endif %} {% else %} {{ page.title }} &middot; {{
    site.title }} {% endif %}
  </title>

  <script src="assets/fartscroll.js"></script>

  <link rel="stylesheet" href="{{ 'styles.css' | relative_url }}" />
  <link
    rel="apple-touch-icon-precomposed"
    sizes="144x144"
    href="{{ '/assets/apple-touch-icon-precomposed.png' | relative_url }}"
  />
  <link rel="shortcut icon" href="{{ '/assets/favicon.ico' | relative_url }}" />
  <link
    rel="alternate"
    type="application/atom+xml"
    title="{{ site.title }}"
    href="{{ 'atom.xml' | relative_url }}"
  />

  <!-- Primary Meta Tags -->
  <title>
    Bob's Burgers Butt Tracker | Spreading the joy, one cheek at a time
  </title>
  <meta name="author" content="{{site.author.name}}" />
  <meta
    name="image"
    property="og:image"
    content="https://bobsburgersbutts.lol/assets/tina-butts.png"
  />
  <meta
    name="title"
    content="Bob's Burgers Butt Tracker | Spreading the joy, one cheek at a time"
  />
  <meta
    name="description"
    content="“The hand wants what the hand wants. I can’t tell where your back ends and your butt begins.” -Tina Belcher

"
  />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://bobsburgersbutts.lol/" />
  <meta
    property="og:title"
    content="Bob's Burgers Butt Tracker | Spreading the joy, one cheek at a time"
  />
  <meta
    property="og:description"
    content="'The hand wants what the hand wants. I can’t tell where your back ends and your butt begins.” -Tina Belcher

"
  />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://bobsburgersbutts.lol/" />
  <meta
    property="twitter:title"
    content="Bob's Burgers Butt Tracker | Spreading the joy, one cheek at a time"
  />
  <meta
    property="twitter:description"
    content="“The hand wants what the hand wants. I can’t tell where your back ends and your butt begins.” -Tina Belcher

"
  />
  <meta
    property="twitter:image"
    content="https://bobsburgersbutts.lol/assets/tina-butts.png"
  />
</head>
