<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Primary Meta Tags -->
  <title>{{site.title}} • {{site.tagline}}</title>
  <meta name="author" content="{{site.author.name}}" />
  <meta name="image" property="og:image" content="{{site.banner}}" />
  <meta name="title" content="{{site.title}} | {{site.tagline}}" />
  <meta name="description" content="{{site.description}}" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://bobsburgersbutts.lol/" />
  <meta property="og:title" content="{{site.title}} | {{site.tagline}}" />
  <meta property="og:description" content="{{site.description}}" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://bobsburgersbutts.lol/" />
  <meta property="twitter:title" content="{{site.title}} | {{site.tagline}}" />
  <meta property="twitter:description" content="{{site.description}}" />
  <meta property="twitter:image" content="{{site.banner}}" />

  <!-- FartScroll JS, thanks to The Onion-->
  <script src="assets/fartscroll.js"></script>

  <!-- J-Query for Slick-->
  <script
    src="https://code.jquery.com/jquery-3.6.1.slim.min.js"
    integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA="
    crossorigin="anonymous"
  ></script>
  <!-- Slick Carousel JS-->
  <script
    type="text/javascript"
    src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
  ></script>

  <!-- Add the slick-theme.css if you want default styling -->
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
  />

  <link rel="stylesheet" href="{{ 'styles.css' | relative_url }}" />
  <link
    rel="apple-touch-icon-precomposed"
    sizes="144x144"
    href="{{ '/assets/apple-touch-icon-precomposed.png' | relative_url }}"
  />
  <link rel="shortcut icon" href="{{ '/assets/favicon.ico' | relative_url }}" />
  <link
    rel="alternate"
    type="application/atom+xml"
    title="{{ site.title }}"
    href="{{ 'atom.xml' | relative_url }}"
  />
</head>
