<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>
    {% if page.title == "Home" %} {{ site.title }}{% if site.tagline %} &middot;
    {{ site.tagline }}{% endif %} {% else %} {{ page.title }} &middot; {{
    site.title }} {% endif %}
  </title>

  <!-- FartScroll JS, thanks to The Onion-->
  <script src="assets/fartscroll.js"></script>

  <!-- J-Query-->
  <script
    src="https://code.jquery.com/jquery-3.6.1.slim.min.js"
    integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA="
    crossorigin="anonymous"
  ></script>

  <script
    type="text/javascript"
    src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
  ></script>

  <!-- Add the slick-theme.css if you want default styling -->
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"
  />
  <!-- Add the slick-theme.css if you want default styling -->
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
  />

  <link rel="stylesheet" href="{{ 'styles.css' | relative_url }}" />
  <link
    rel="apple-touch-icon-precomposed"
    sizes="144x144"
    href="{{ '/assets/apple-touch-icon-precomposed.png' | relative_url }}"
  />
  <link rel="shortcut icon" href="{{ '/assets/favicon.ico' | relative_url }}" />
  <link
    rel="alternate"
    type="application/atom+xml"
    title="{{ site.title }}"
    href="{{ 'atom.xml' | relative_url }}"
  />

  <!-- Primary Meta Tags -->
  <title>
    Bob's Burgers Butt Tracker | Spreading the joy, one cheek at a time
  </title>
  <meta name="author" content="{{site.author.name}}" />
  <meta
    name="image"
    property="og:image"
    content="https://bobsburgersbutts.lol/assets/tina-butts.png"
  />
  <meta
    name="title"
    content="Bob's Burgers Butt Tracker | Spreading the joy, one cheek at a time"
  />
  <meta
    name="description"
    content="“The hand wants what the hand wants. I can’t tell where your back ends and your butt begins.” -Tina Belcher

"
  />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://bobsburgersbutts.lol/" />
  <meta
    property="og:title"
    content="Bob's Burgers Butt Tracker | Spreading the joy, one cheek at a time"
  />
  <meta
    property="og:description"
    content="'The hand wants what the hand wants. I can’t tell where your back ends and your butt begins.” -Tina Belcher

"
  />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://bobsburgersbutts.lol/" />
  <meta
    property="twitter:title"
    content="Bob's Burgers Butt Tracker | Spreading the joy, one cheek at a time"
  />
  <meta
    property="twitter:description"
    content="“The hand wants what the hand wants. I can’t tell where your back ends and your butt begins.” -Tina Belcher

"
  />
  <meta
    property="twitter:image"
    content="https://bobsburgersbutts.lol/assets/tina-butts.png"
  />
</head>
