.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

/* Medium devices (landscape tablets, 768px and under) */
@media only screen and (max-width: 900px) {
  .flex-container {
    flex-direction: column;
  }
  img,
  iframe {
    max-width: 75%;
  }
}
