// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 100%;
  //padding-left: var(--spacer-3);
  //padding-right: var(--spacer-3);
  margin-left: auto;
  margin-right: auto;
}

footer {
  padding-top: var(--spacer-3);
  padding-bottom: var(--spacer-3);
  border: 15px solid var(--red);
  color: var(--red);
  text-align: center;
  font-family: var(--heading-font);
}

.hero {
  padding-left: var(--spacer-4);
  padding-right: var(--spacer-4);
  padding-top: var(--spacer-3);
  padding-bottom: var(--spacer-6);
  width: 100%;
}

.img-hero {
  padding-left: var(--spacer-10);
  padding-right: var(--spacer-10);
}

#last {
  padding-bottom: var(--spacer-10);
}
