// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  padding-right: var(--spacer-3) ;
  padding-left: var(--spacer-3) ;
  //margin-bottom: var(--spacer-3);
  background-color: var(--yellow);
  color:var(--vivid-red);
  border: solid 15px var(--vivid-red);
}

.masthead-title {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  
  a {
    color: inherit;
    text-decoration: none;
    font-size: 5rem;
    font-family: var(--title-font)
  }

  small {
    font-weight: 400;
    opacity: .5;
  }
}
