// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  padding-right: var(--spacer-3);
  padding-left: var(--spacer-3);
  //margin-bottom: var(--spacer-3);
  background-color: var(--yellow);
  color: var(--vivid-red);
  border: solid 15px var(--vivid-red);
}

.masthead-title {
  color: var(--title-color);
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  strong::before {
    content: "🍔";
    font-size: var(--mast-font-size);
    text-shadow: -5px 5px black;
  }

  strong {
    color: inherit;
    text-decoration: none;
    text-shadow: -5px 5px black;
    font-size: var(--mast-font-size);
    font-family: var(--title-font);
  }
  strong:hover {
    text-shadow: 5px -5px black;
  }
  small {
    font-weight: 100;
    opacity: 0.5;
  }
}
