:root {
  --white: #fff;
  --gray-000: #f8f9fa;
  --gray-100: #f1f3f5;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #868e96;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;

  --red: #f0262a;
  --pink: #f172a9;
  --grape: #be4bdb;
  --purple: #7950f2;
  --indigo: #4c6ef5;
  --blue: #9ac7e8;
  --cyan: #15aabf;
  --teal: #12b886;
  --green: #95d244;
  --yellow: #fcdd60;
  --orange: #fd7e14;

  --blue-300: #74c0fc;
  --blue-400: #4dabf7;
  --yellow-100: #fff3bf;

  --body-font: "Comic Sans MS", "Courier New", monospace;
  --body-font-size: 20px;
  --body-line-height: 1.5;
  --body-color: var(--white);
  --body-bg: #fff;

  --link-color: var(--blue);
  --link-hover-color: #1c7ed6;

  --heading-font: "Londrina Solid", sans-serif;
  --heading-color: var(--gray-000);
  --title-color: var(--red);
  --title-font: "Londrina Solid", sans-serif;
  --title-font-size: 4rem;
  --mast-font-size: 8rem;
  --title-font-size-mobile: calc(var(--title-font-size) - 1rem);

  --border-color: var(--gray-300);
  --border-radius: 0.25rem;

  --code-font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --code-color: var(--grape);
  --code-bg: var(--gray-000);

  --spacer: 1rem;
  --spacer-2: calc(var(--spacer) * 1.5);
  --spacer-3: calc(var(--spacer) * 3);
  --spacer-4: calc(var(--spacer) * 4);
  --spacer-5: calc(var(--spacer) * 5);
  --spacer-6: calc(var(--spacer) * 6);
  --spacer-10: calc(var(--spacer) * 10);
}

//@media (prefers-color-scheme: dark) {
//  :root {
//    --body-color: var(--gray-300);
//    --body-bg: var(--gray-800);
//
//    --heading-color: #fff;
//
//    --link-color: var(--blue-300);
//    --link-hover-color: var(--blue-400);
//
//    --border-color: rgba(255,255,255,.15);
//
//    --code-bg: var(--gray-900);
//  }
//}
