<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container content">
      <header class="masthead">
        <h1 class="masthead-title center">
          <a href="{{ site.baseurl }}/" title="Home"> &nbsp{{ site.title }}</a>
          <br />
          <small>{{ site.tagline }}</small>
        </h1>
      </header>

      <main>{{ content }}</main>

      <footer class="footer">
        &copy;
        <time datetime="{{ site.time | date_to_xmlschema }}"
          >{{ site.time | date: '%Y' }}</time
        >. All rights reserved.
        <a href="/assets/ops-tech.png" target="_blank" class="vivid-red"
          >{{site.author.name}}</a
        >
      </footer>
    </div>
    <script type="text/javascript">
      $(".slider").slick({
        variableWidth: true,
        centerMode: true,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 2,
        autoplay: true,
        autoplaySpeed: 2000,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 2,
              infinite: true,
              dots: true,
            },
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1,
            },
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
            },
          },
          // You can unslick at a given breakpoint now by adding:
          // settings: "unslick"
          // instead of a settings object
        ],
      });
    </script>
    <script type="text/javascript">
      fartscroll(900);
    </script>
  </body>
</html>
