<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container content">
      <header class="masthead">
        <h1 class="masthead-title center">
          <strong> &nbsp{{ site.title }}</strong>
          <br />
          <small>{{ site.tagline }}</small>
        </h1>
      </header>

      <main>{{ content }}</main>

      <footer class="footer">
        &copy;
        <time datetime="{{ site.time | date_to_xmlschema }}"
          >{{ site.time | date: '%Y' }}</time
        >. All rights reserved.
        <a
          href="https://github.com/P-Brower/bbb.lol"
          target="_blank"
          class="red"
          >{{site.author.name}}</a
        >
      </footer>
    </div>
    <script type="text/javascript">
      $(".slider").slick({
        variableWidth: true,
        slidesToShow: 5,
        slidesToScroll: 2,
        dots: true,
        infinite: true,
        autoplay: true,
        autoplaySpeed: 900,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 5,
              slidesToScroll: 3,
              infinite: true,
              dots: true,
            },
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1,
              dots: false,
              centerMode: true,
            },
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              dots: false,
              centerMode: true,
            },
          },
          // You can unslick at a given breakpoint now by adding:
          // settings: "unslick"
          // instead of a settings object
        ],
      });
    </script>
    <script type="text/javascript">
      fartscroll(900);
    </script>
    <script type="text/javascript">
      function internal() {
        if (window.location.href.includes("#internal")) {
          var foo = document.getElementsByClassName("img-hero");
          foo[0].style.display = "block";
        }
      }
      internal();
    </script>
  </body>
</html>
